

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  /**text-align: center;**/
}


header {
  display: flex;
  position: fixed;
  position: 0px;
  top: 0px;


  align-items: flex-start;
  height: 69px;
  width: 100%;
  margin-top: auto;
  align-items: center;
  border-bottom: solid seashell 1px;
  background-color: black;
  color: white;
  z-index: 10;
}



/*header img {
} */

.Logo {
  display: flex;
  flex-grow: 1;
  border: solid thin pink;
  padding-left: 10px;
}




header nav {
  display: flex;
color: white;
justify-content: flex-end;
border:  solid thin pink;
}




#space_1 {
  display: flex;
  /** space-between **/
  color: white;
  padding-right: 15px;
}

#space_2 {
  display: flex;
  /** space-between **/
  color: white;
  padding-right: 15px;
}

#space_3 {
  display: flex;
  /** space-between **/
  color: white;
  padding-right: 15px;
}


.main_container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 61px;
  display: flex;
  background-color: black;
  border: solid thin red;
}


.Our_Mission {
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
justify-content: center;
align-items: center;
    height: 700px;
    width: 1200px;
    border: solid thin green;
    /*justify-content: center;*/
  }



.mission_stat {
  display: flex;
  background-color: black;
  color: white
  height: 116.67px;
  width: 1210px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: solid thin purple;
}


/** #top_stat {
  justify-content: center;
} **/
